<h1>My Jams</h1>
<% @songs.each do |song| %>
<ul>
  <li> <h3> <%= link_to song.title, song_path(song) %> </h3></li>
  <%= link_to "Edit", edit_song_path(song) %>
  <%= link_to "Delete", song_path(song), method: :delete, data: {confirm: "Are you sure?"} %>
  <!-- <li> <%#= link_to song.title, song) %> </li> -->
</ul>
<% end %>
